<ion-header [translucent]="true">
  <ion-toolbar color="dark" id="tool">
    <ion-img src="assets/image/logo-duoc.svg" alt="Duoc logo" id="ima"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    
    <div id="logout">
      <h1 class="ion-text-center" style="color: rgb(56, 92, 252);">Página no encontrada</h1>
      <p class="ion-text-center">No se ha encontrado la página que buscabas</p>
    </div>
    <div id="logout">
      <ion-button [routerLink]="['/home']" expand="block" color="warning" class="ion-padding-top">Volver a home</ion-button>
    </div>
  </div>
</ion-content>
