<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página no encontrada</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <h1>404</h1>
    <p>La página que buscas no existe.</p>
    <!-- Puedes agregar un botón o un enlace para regresar a la página de inicio u otra página de tu elección -->
    <ion-button routerLink="/home">Ir a la página de inicio</ion-button>
  </div>
</ion-content>
