<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title #title class="ion-text-center" color="primary">Inicio</ion-title>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="login"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged()">
    <ion-segment-button value="datos">
      Mis datos
    </ion-segment-button>
    <ion-segment-button value="experiencia">
      Experiencia laboral
    </ion-segment-button>
    <ion-segment-button value="certificacion">
      Certificaciones
    </ion-segment-button>
  </ion-segment>
</ion-content>
