<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camCon</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>Hola</h1>

<!-- For camera -->
<ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>

<!-- data  -->
<span id="recolector" >{{ action.data.value | json }}</span><!-- value -->

<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Loading...</p>
<button (click)="recogerinfo()">ddasdadadas</button>
<!-- start -->
<button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>



<!-- OPCION SUBIR ARCHIVOS -->
<!-- For select files -->
<input #file type="file" (change)="onSelects(file.files)" [multiple]="'multiple'" [accept]="'.jpg, .png, .gif, .jpeg'"/>

<div *ngFor="let item of qrCodeResult">
  <p>{{ item.data | json }}</p>
</div>

</ion-content>
